@model Model.Cartao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cartao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCartao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCartao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUsuario)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CodCartao }) |
    <a asp-action="Index">Voltar a lista</a>
</div>
