@model IEnumerable<Model.Cartao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodCartao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataValidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodCartao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataValidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CodCartao  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.CodCartao  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.CodCartao  })
            </td>
        </tr>
}
    </tbody>
</table>
