@model IEnumerable<Model.ContaBancaria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodBanco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodBanco)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CodConta}) |
                @Html.ActionLink("Details", "Details", new { id=item.CodConta }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.CodConta })
            </td>
        </tr>
}
    </tbody>
</table>
