@model Model.Entrega

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entrega</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_origem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_origem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuarioCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUsuarioCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuarioEntregador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUsuarioEntregador)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodEntrega }) |
    <a asp-action="Index">Back to List</a>
</div>
