@model IEnumerable<Model.Entrega>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao_origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao_destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuarioCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuarioEntregador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao_origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao_destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuarioCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuarioEntregador)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CodEntrega }) |
                @Html.ActionLink("Details", "Details", new { id = item.CodEntrega }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CodEntrega })
            </td>
        </tr>
}
    </tbody>
</table>
