@model Model.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Você tem certeza que deseja excluir esse usuário?</h3>
<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusEntregador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusEntregador)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lista</a>
    </form>
</div>
