@model Model.SolicitacaoDeCadastro

@{
    ViewData["Title"] = "Avaliar";
}

<h1>Avaliar Solicitação De Cadastro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodSolicitacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodSolicitacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumCnh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumCnh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuarioEntregador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodUsuarioEntregador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuarioFuncionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodUsuarioFuncionario)
        </dd>
    </dl>
</div>
@{ if (Model.Status == "em analise" || Model.Status == "solicitada")
    {
        <div>
            @Html.ActionLink("Aprovar", "Aprovar", new { id = Model.CodSolicitacao, avaliacao = "aprovada" }) |
            @Html.ActionLink("Reprovar", "Aprovar", new { id = Model.CodSolicitacao, avaliacao = "reprovada" })
        </div>
    }
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
