@model IEnumerable<Model.SolicitacaoDeCadastro>

@{
    ViewData["Title"] = "Detalhes do Historico de Solicitacao Analisadas";
}

<h1>Detalhes do Historico de Solicitacao Analisadas</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.NumRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuarioEntregador)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.NumRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuarioEntregador)
            </td>
           
            <td>
                
                @Html.ActionLink("Detalhes", "Details", new { id=item.CodUsuarioFuncionario}) |
                
            </td>
        </tr>
}
    </tbody>
</table>
