@model IEnumerable<Model.SolicitacaoDeCadastro>
@{
    Layout = "_LayoutCliente";
    ViewData["Title"] = "DetailsMultiple";
}

<h1 class="ml-4">Solicitações De Cadastro</h1>
<br />

<div class="w3-container mt-3 mb-5">

    <ul id="lista" class="w3-ul w3-card-4 mt-4">
        @{
            if (Model.Count() != 0)
            {
                @foreach (var item in Model)
                {
                    <li class="w3-bar">

                        @if (item.Status == "solicitada")
                        {
                            <i class="far fa-clock w3-bar-item w3-circle w3-hide-small" style="font-size:45px; color: black; margin-top: 25px;"></i>
                        }
                        else if (item.Status == "aprovada")
                        {
                            <i class="far fa-check-circle w3-bar-item w3-circle w3-hide-small" style="font-size:45px; color: green; margin-top: 25px;"></i>
                        }
                        else if (item.Status == "reprovada")
                        {
                            <i class="far fa-times-circle w3-bar-item w3-circle w3-hide-small" style="font-size:45px; color: red; margin-top: 25px;"></i>
                        }
                        else if (item.Status == "em analise")
                        {
                            <i class="fas fa-search w3-bar-item w3-circle w3-hide-small" style="font-size:45px; color:chocolate; margin-top: 25px;"></i>
                        }
                        <div class="w3-bar-item">
                            <span class="w3-large">Número Do Registro: @Html.DisplayFor(modelItem => item.NumRegistro) </span><br>
                            <span class="w3-large">Número da CNH: @Html.DisplayFor(modelItem => item.NumCnh) </span><br>
                            <span class="w3-large">Data de Nascimento: @Html.DisplayFor(modelItem => item.DataNascimento) </span><br>
                            <span class="w3-large">Status: @Html.DisplayFor(modelItem => item.Status) </span><br>
                        </div>
                        @if (item.Status == "reprovada" && ViewBag.solicitacaoEmAndamento)
                        {

                            @Html.ActionLink("Reenviar Solicitacao", "Create", new { id = item.CodUsuarioEntregador }, new { @class="btn btn-info w3-right", @style="padding-right:10px;margin-top: 2.5%;margin-left:1%;" })

                        }

                    </li>
                }
            }
            else
            {
                <h3>Sem Nenhuma corrida</h3>
            }
        }
    </ul>
</div>
